<% if notice %>
	<p class="alert alert-success"><%= notice %></p>
<% elsif alert %>
	<p class="alert alert-danger"><%= alert %></p>
<% elsif @success %>
	<p class="alert alert-success"><%= @success %></p>
<% end %>